<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Appointee</mat-label>
    <mat-select
      formControlName="appointee"
      placeholder="Appointee"
      panelWidth=""
      [compareWith]="appointeeSearch.comparator"
    >
      <app-select-filter [(filter)]="appointeeSearch.searchTerm">
        @if (appointeeSearch.loading()) {
          <mat-option disabled>Loading...</mat-option>
        } @else if (appointeeSearch.error()) {
          <mat-option disabled>Failed to fetch appointees</mat-option>
        } @else if (appointeeSearch.noItemsFound()) {
          <mat-option disabled>No items found</mat-option>
        } @else if (appointeeSearch.isEmpty()) {
          <mat-option disabled>Start typing to search</mat-option>
        } @else {
          <!-- <mat-option [value]="null">None</mat-option> -->
          @for (appointee of appointeeSearch.values(); track appointee.id) {
            <mat-option [value]="appointee">{{ appointee.name }}</mat-option>
          }
        }
      </app-select-filter>
    </mat-select>
    @let control = form.controls.appointee;
    @if (control.hasError('required')) {
      <mat-error>Required</mat-error>
    }
  </mat-form-field>
</form>

<div style="display: flex; gap: 1rem">
  <button (click)="updateProgrammatically()">Update value programmatically</button>
  <button (click)="loadOptionsManually()">Load options manually</button>
</div>

{{ form.value | json }}
