<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Appointee</mat-label>
    <mat-select formControlName="appointee" placeholder="Appointee" panelWidth="">
      <div class="search-container">
        <mat-form-field>
          <input
            matInput
            placeholder="Search"
            (input)="appointeeSearch.updateSearchTerm($event.target.value)"
          />
        </mat-form-field>
      </div>
      <div>
        @if (appointeeSearch.loading()) {
          <mat-option disabled>Loading...</mat-option>
        } @else if (appointeeSearch.error()) {
          <mat-option disabled>Failed to fetch appointees</mat-option>
        } @else {
          <mat-option [value]="null">None</mat-option>
          @for (appointee of appointeeSearch.value(); track appointee.id) {
            <mat-option [value]="appointee">{{ appointee.name }}</mat-option>
          }
        }
      </div>
    </mat-select>
  </mat-form-field>
</form>

{{ form.value | json }}
